@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway&display=swap');
@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
        opacity: 0.2;
    }
    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes flipInX {
    from {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
    }
    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) rotateY(-20deg);
        transform: perspective(400px) rotateY(-20deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
    }
    80% {
        -webkit-transform: perspective(400px) rotateY(-5deg);
        transform: perspective(400px) rotateY(5deg);
    }
    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes popDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes logo {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

body {
    margin: 0;
    padding: 0;
    height: auto !important;
    overflow-x: hidden;
    background: white;
}

* {
    margin: 0;
}

.overflow {
    overflow-x: hidden;
}

.large-header {
    position: relative;
    width: 100%;
    height: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.demo .large-header {
    /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg"); */
    height: 100vh;
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
}

.main-title .thin {
    font-weight: 200;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight {
    color: #FF4444;
    animation-name: slideInLeft;
    animation-duration: 3s;
}

section {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/* .overflow section{
   display: flex;
   flex-direction: row;
   justify-content: center;
} */

.button {
    text-transform: capitalize;
    font-size: small;
    margin-top: 10px;
    margin-left: 17vw;
    margin-right: 17vw;
    border: 1.5px solid #fff;
    cursor: pointer;
    font-size: 13pt;
    padding: 10px;
    display: block;
    animation-name: slideInLeft;
    animation-duration: 3s;
}

.viewmywork {
    text-decoration: none;
    color: white;
    transition: .9s;
    letter-spacing: 0;
}

.viewmywork:hover {
    background-color: rgb(0, 166, 216);
}

.arrow {
    padding-left: .1em;
    transition: .7s;
}

.viewmywork:hover .arrow {
    transform: rotateZ(90deg);
}

nav {
    font-family: 'raleway';
    position: sticky;
    top: 0;
    border-bottom: #FF4444;
    background-color: #222;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* nav.in-view{
    -webkit-backface-visibility: hidden;
    animation-name: popDown;
    animation-duration: 1s;
} */

.page-link {
    font-size: 1.5rem;
    padding: 10px;
    flex-grow: 1;
    color: #8ADDF7;
    padding: 11px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    overflow: hidden;
}

li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

li a:hover {
    background-color: #FF4444;
    color: white;
}

.active {
    background-color: #FF4444;
    color: white;
}

.project-card-container {
    /* border: 2px solid; */
    height: 100vh;
    margin-top: 0px !important;
    /* margin-top: 5vh; */
    margin-left: 10vw;
    margin-right: 10vw;
    /* padding: 40px; */
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    justify-content: center;
    /* align-items: center; */
}

#projects {
    background-color: #f7f7ff;
}

.header {
    padding-top: 60px;
    padding-bottom: 4px;
    display: block;
    text-align: center;
    font-size: 3.2rem;
    color: #222;
    border-bottom: #111;
    font-family: monoton;
    margin-top: 0;
}

header.in-view {
    animation-name: slideInLeft;
    animation-duration: 2.5s;
}

.project-card-container img {
    margin-top: 0px;
    height: 20vh;
    width: 27vw;
    border-radius: 20px;
    padding: 50px;
    /* margin: 8px 15px;s */
}

.project-card-container img.in-view {
    animation: flipInX 2s;
}

.about-container {
    display: flex;
    margin-left: 7vw;
    margin-right: 7vw;
    justify-content: space-around;
}

.about-item img {
    height: 40vh;
    width: 20vw;
    border-radius: 50%;
}

.about-item {
    height: auto;
    width: 50vw;
}

.about-item:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-item:nth-child(1).in-view {
    animation: slideInLeft 2s 0.2s ease-in;
}

.about-image-text-item {
    color: #4e4c4c;
    font-size: 1.2rem;
    font-family: raleway;
    padding-top: 40px;
    text-align: center;
}

.skills-bar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border:1px solid;s */
}

.skills-bar.in-view {
    animation: slideInRight 2s ease-in;
}

.bar-item {
    width: 35vw;
    display: inline-flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.barLabel {
    height: 2vh;
    width: 7vw !important;
    /* border: 2px solid black; */
    text-align: center;
    border-radius: 3%;
    padding: 7px;
    color: #fff;
    background-color: #06e5e5;
    font-family: "Acme", sans-serif;
    font-size: .9rem;
    font-weight: bold;
    padding-right: 0;
    margin-right: 0;
}

.bar {
    background-color: #0abebe;
    width: 5px;
    height: 2vh;
    padding: 7px;
    /* margin: 10px; */
    padding-left: 0;
    margin-left: 0;
}

@keyframes bar1 {
    from {
        width: 0vw;
    }
    to {
        width: 30vw;
    }
}

@keyframes bar2 {
    from {
        width: 0px;
    }
    to {
        width: 25vw;
    }
}

@keyframes bar3 {
    from {
        width: 0px;
    }
    to {
        width: 25vw;
    }
}

@keyframes bar4 {
    from {
        width: 0px;
    }
    to {
        width: 20vw;
    }
}

@keyframes bar5 {
    from {
        width: 0px;
    }
    to {
        width: 20vw;
    }
}

@keyframes bar6 {
    from {
        width: 0px;
    }
    to {
        width: 12vw;
    }
}

@keyframes bar7 {
    from {
        width: 0px;
    }
    to {
        width: 17vw;
    }
}

.bar-item:nth-child(1) .bar.in-view {
    animation: bar1 3s 2s forwards ease;
}

.bar-item:nth-child(2) .bar.in-view {
    animation: bar2 2.5s 2.2s forwards ease;
}

.bar-item:nth-child(3) .bar.in-view {
    animation: bar3 3s 2.4s forwards ease;
}

.bar-item:nth-child(4) .bar.in-view {
    animation: bar4 2.5s 2.6s forwards ease;
}

.bar-item:nth-child(5) .bar.in-view {
    animation: bar5 3s 2.7s forwards ease;
}

.bar-item:nth-child(6) .bar.in-view {
    animation: bar6 2s 2.5s forwards ease;
}

.bar-item:nth-child(7) .bar.in-view {
    animation: bar7 2s 2.7s forwards ease;
}


/* contact page */

.contact {
    height: 80vh;
    width: 100vw;
    overflow-y: auto;
    background: #252934;
    z-index: 1;
    /* z-index: 1; */
}

.contact-heading {
    font-family: "Monoton", cursive;
    display: block;
    text-align: center;
    font-size: 2.5rem;
    color: #8addf7;
    padding-top: 20px;
    padding-bottom: 20px;
}

.question {
    display: block;
    font-size: 1.1rem;
    font-family: "raleway", sans-serif;
    text-align: center;
    color: #04c2c9;
    text-indent: 2;
}

.form {
    padding-top: 30px;
    font-family: "raleway", sans-serif;
    z-index: -1;
}

.form-item-container {
    text-align: center;
    padding-bottom: 5px;
}

.form-item-container textarea {
    width: 40vw;
    height: 20vh;
}

.message-input {
    background: #1e242c;
    font-size: 1.15rem;
    color: white;
    border: 0px;
    width: 40vw;
    height: 3vh;
    padding: 2px;
}

#submit {
    margin-right: 30vw;
    float: right;
    font-size: 0.9rem;
    background: #1e242c;
    border: 0px solid;
    padding: 5px;
    border-radius: 6px;
    color: #e31b6d;
    font-family: "Acme", sans-serif;
}


/* contact */


/* Footer */

.footer {
    width: 100vw;
    height: 20vh;
    background-color: #1b242f;
}

a {
    color: inherit;
    text-decoration: none;
}

.footer-arrow {
    font-size: 1.5rem;
    display: block;
    position: relative;
    color: white;
    margin-left: 48vw;
    z-index: 100;
    top: 0px;
}


/* .footer-arrow {
    color: white;
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 10vh;
    top: -10px;
} */

.contact-icons {
    text-align: center;
    display: block;
}

.icon {
    padding: 20px;
    font-size: 1.8rem;
    color: #06e5e5;
    opacity: 0.8;
}

.icon:hover {
    color: #e31b6d;
    opacity: 1;
    transform: translateY(7px);
    transform-style: flat;
}

.footnote {
    display: block;
    text-align: center;
    font-family: raleway;
    color: white;
}

.foot-name {
    text-indent: 2;
    color: #e31b6d;
    font-size: 1.2rem;
}


/* Footer */

@media only screen and (max-width: 768px) {
    .demo .main-title {
        font-size: 2.8em;
    }
    .project-card-container {
        /* border: 2px solid; */
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        margin-top: 2vh;
        /* padding: 40px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    img {
        height: 30vh;
        width: 50vw;
        border-radius: 20px;
        margin: 8px 15px;
    }
}

@media only screen and (max-width: 430px) {
    @keyframes bar1 {
        from {
            width: 0vw;
        }
        to {
            width: 80vw;
        }
    }
    @keyframes bar2 {
        from {
            width: 0px;
        }
        to {
            width: 55vw;
        }
    }
    @keyframes bar3 {
        from {
            width: 0px;
        }
        to {
            width: 55vw;
        }
    }
    @keyframes bar4 {
        from {
            width: 0px;
        }
        to {
            width: 40vw;
        }
    }
    @keyframes bar5 {
        from {
            width: 0px;
        }
        to {
            width: 40vw;
        }
    }
    @keyframes bar6 {
        from {
            width: 0px;
        }
        to {
            width: 30vw;
        }
    }
    @keyframes bar7 {
        from {
            width: 0px;
        }
        to {
            width: 35vw;
        }
    }
    .form-item-container textarea {
        width: 70vw;
        height: 20vh;
    }
    .message-input {
        background: #1e242c;
        font-size: 1.15rem;
        color: white;
        border: 0px;
        width: 70vw;
        height: 3vh;
        padding: 2px;
    }
    .barLabel {
        font-size: 0.8rem;
    }
    .about-image-text-item {
        width: 80vw;
        margin-left: 30vw;
        margin-bottom: 20px;
    }
    .bar-item {
        width: 80vw;
        display: inline-flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .about-container img {
        width: 200px;
        margin-left: 40vw;
    }
    .about-container {
        width: 100vw;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .main-title {
        font-size: 1.5rem;
    }
    .page-link {
        font-size: 1.5rem;
        padding: 5px;
        flex-grow: 1;
        color: #8addf7;
        padding: 5px 10px;
    }
    .project-card-container {
        width: 100vw;
        display: flex;
    }
    .project-card-container img {
        margin-top: 0px;
        height: 50vh;
        width: 70vw;
        border-radius: 20px;
        padding: 15px;
        /* margin: 8px 15px;s */
    }
}